.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.input {
  margin: 20px 5px;
}

.home {
  height: 400px;
  color: aliceblue;
  font-size: x-large;
}
button {
  color: gray;
}
